{
  "react/jsx-indent": ["error", 2],
  "react/jsx-key": "error",
  "import/extensions": "off",
  "jsx-a11y/heading-has-content": "off",
  "jsx-a11y/label-has-associated-control": "off",
  "jsx-a11y/label-has-for": "off",
  "jsx-a11y/alt-text": "off",
  "jsx-a11y/anchor-has-content": "off",
  "import/no-extraneous-dependencies": 0
}